<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About This App!</h1>
        <p class="lead">It is a simple todo app created using angular framework in which you can add, delete and update
            the tasks</p>
        <hr class="my-4">
        <p>For more project's you can visit my Github Profile</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://github.com/Kaushikgupta469?tab=repositories"
                role="button">Learn more</a>
        </p>
    </div>
</div>